body
{
	position: absolute;
	font-size: 18px;
	background-color: rgb(200, 200, 200);
	margin: 0px 10%;
	width: 80%;
}
header
{
	width: 125%;
	margin-left: -12.5%;
	background: url("img_header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: right;
	color: white;
	font-family: 'Police titre', impact;
	height: 100px;
}
@font-face {
	font-family: 'Police titre';
	src: url("KeepCalm-Medium.ttf");
}
@font-face {
	font-family: 'Police style';
	src: url("Bolina.otf");
}
header h1
{
	margin: 0;
	padding: 25px 5% 0 0;
}
nav
{
	text-align: center;
	background: url("img_nav.png");
	border: 10px ridge white;
	width: 100%;
}
nav ul
{
	list-style-type: none;
	margin: 10px;
}
nav li
{
	padding: 0 5%;
	display: inline;
}
nav ul li a
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
a:hover
{
	color: red;
	text-decoration: underline;
}
article
{
	display: inline-block;
	background: url("img_text.png");
	width: 60%;
	padding: 0 0 15px 10px;
	margin: 5% 0 150px;
	border: 2px solid black;
	border-radius: 0 15% 0 15%;
}
article p
{
	text-align: justify;
}
aside
{
	background: url("img_text.png");
	font-style: italic;
	width: 30%;
	display: inline-block;
	position: absolute;
	right: 0;
	margin: 5% 0 150px;
	background-color: white;
	border: 2px solid black;
	padding: 1%;
}
aside h2
{
	font-family: 'Police style';
	font-style: normal;
	font-size: 200%;
}
footer
{
	position: fixed;
	bottom: 0px;
	margin-left: -10%;
	width: 125%;
	background: url("img_footer.jpg");
	background-size: contain;
}
footer p
{
	margin-left: 10%;
}
@media (max-width:1100px)
{
	body
	{
		width: 100%;
		margin: 0;
	}
	header
	{
		width: 100%;
		margin: 0;
	}
	nav
	{
		width: 100%;
		margin: 0;
	}
	nav li
	{
		padding: 0 3%;
	}
}
@media (max-width:645px)
{
	nav
	{
		width: 60%;
		margin: 0 20% 0 20%;
	}
	nav li
	{
		display: list-item;
	}
	nav ul
	{
		list-style-type: none;
	}
}
